body{
    background-color: rgb(202, 202, 202);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article{
    text-align: justify;
    background-color: antiquewhite;
    padding: 2%;
}

ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    text-align: center;
}

fieldset{
    border: 1px solid black;
    border-radius: 8px;
    margin: auto;
}

legend{
    font-size: larger;
}

nav{
    margin: auto;
    width: 96%;
    height: 20px;
    text-align: right;
    background-color: rgb(102, 102, 102);
    text-transform: uppercase;
    padding: 2%;
}

footer{
    position: relative;
    text-align: center;
    font-style: italic;
    bottom: 0;
    padding: 2%;
    width: 95%;
}

section{
    width: 70%;
    margin: auto;
}

textarea{
    resize:none;
}

a{
    color:black;
}

a:hover{
    color:yellow;
}

.main_title{
    font-size: 300%;
    text-align: center;
}

.main_sub{
    font-size: 200%;
    text-align: center;
}

.dev{
    font-family: 'Monotype Corsiva';
    font-size: 20px;
    color: black;
}

a.dev:hover{
    font-size: 25px;
    color: orangered;
}

.logo{
    width: 5%;
    min-width: 50px;
    max-width: 80px;
}

.semantic_image{
    width: 30%;
    max-width: 200px;
    display: block;
    margin:auto;
}

.semantic_image:hover{
    width: 31%;
}

img.content{
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: block;
    border-radius: 10px;
}